.navbar.navbar-fixed-bottom.navbar-inverse
  .navbar-inner{:style => "height:50px;background: none repeat scroll 0 0 #000000;"}
    .container
      %ul.nav{:style => "float:right;"}
        %li
          = link_to "AboutUs", '#'